/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color:#ffffff;
  margin-bottom: 40px;
  text-align:center;
}
h2 {
  font-size: 1em;
  color:black;
  margin-top: 0;
  padding-top: 0;
}
nav a {
	
  padding: 15px 20px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #8B0000;
  border-radius: 4px;
  border:1px solid black;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
